
* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  margin: 0 auto;
  padding:  10px;
  display: flex;
  background-color: #D11C2C;
}

.content-left {
  width: 50%;
  color:  white;
}

.main-title a{
  font-size: 30px;
  padding: 5px 10px;
  text-decoration: none;
}

.sub-title {
  font-size: 15px;
  padding: 0 15px;
}

.lists-right a {
  text-decoration: none;
}

.lists-right {
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 5px;
  width: 50%;
}