<% if model.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <div class = "error-message">
        <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </div>
    </ul>
    
  </div>
<% end %>
